<mat-toolbar color="accent">
  <a href="#">
    <img
      width="130"
      src="assets/img/uoc_masterbrand_3linies_positiu.png"
      alt="UOC logo"
    />
  </a>
  <span>APP DE ACTIVIDADES TURÍSTICAS</span>
  <div class="menu-options">
    <button
      mat-raised-button
      *ngIf="!loginState$.loggedIn"
      routerLink="/login"
      color="primary"
    >
      SIGN IN
    </button>
    <button
      mat-raised-button
      *ngIf="!loginState$.loggedIn"
      routerLink="/register"
      color="primary"
    >
      JOIN NOW
    </button>

    <button
      mat-raised-button
      *ngIf="loginState$.loggedIn"
      color="primary"
      (click)="onClickHome()"
    >
      HOME
    </button>

    <button
      mat-raised-button
      *ngIf="userState$.user?.profile.type === 'Company'"
      routerLink="/activities-admin-list"
      color="primary"
    >
      ADMIN
    </button>

    <button
      mat-raised-button
      *ngIf="userState$.user?.profile.type === 'Tourist'"
      color="primary"
      (click)="onClickFavorites()"
    >
      FAVORITES
    </button>
    <button
      mat-raised-button
      *ngIf="userState$.user?.profile.type === 'Tourist'"
      color="primary"
      (click)="onClickMyActivities()"
    >
      MY ACTIVITIES
    </button>
    <button
      mat-raised-button
      *ngIf="loginState$.loggedIn"
      color="primary"
      routerLink="/profile"
    >
      PROFILE
    </button>
    <button
      mat-raised-button
      *ngIf="loginState$.loggedIn"
      color="primary"
      (click)="onClickLogout()"
    >
      LOGOUT
    </button>
  </div>
</mat-toolbar>
