/* .mat-toolbar {
  position: fixed;
} */

.mat-button-base {
  margin: 8px 8px 8px 0;
}

.header__title {
  font-size: 14px;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}
