<!-- <div class="container">
    <form class="text-center border border-light p-5" [formGroup]="rForm" (submit)="submit()"> 
        <div class="form-group">
            <div>

                <label for="type">Category:</label>
                <select (change)="onChangeCategoryValue()" formControlName="category" class="form-control mb-4" placeholder="Category">
                    <option [ngValue]="null">Select category...</option>                
                    <option *ngFor="let category of eActivityCategories | keyvalue" [ngValue]="category.value">{{category.value}}</option>              
                </select>
                <span style="color: red;" *ngIf="rForm.get('category').errors && (rForm.get('category').touched || rForm.get('category').dirty)">                
                    <span *ngIf="rForm.get('category').errors.required">Category is required</span>
                </span>
            </div>
            <div>

                <label for="type">Subcategory:</label>
                <select formControlName="subcategory" class="form-control mb-4" placeholder="Subcategory">
                    <option [ngValue]="null">Select subcategory...</option>                
                    <option *ngFor="let subcategory of eSubcategory | keyvalue" [ngValue]="subcategory.value">{{subcategory.value}}</option>              
                </select>
                <span style="color: red;" *ngIf="rForm.get('subcategory').errors && (rForm.get('subcategory').touched || rForm.get('subcategory').dirty)">                
                    <span *ngIf="rForm.get('subcategory').errors.required">Subcategory is required</span>
                </span>
            </div>
            <div>

                <label for="name">Name:</label>
                <input type="text" placeholder="Name" name="name" formControlName="name" class="form-control mb-4">
                <span style="color: red;" *ngIf="rForm.get('name').errors && (rForm.get('name').touched || rForm.get('name').dirty)">                
                    <span *ngIf="rForm.get('name').errors.required">Name is required</span> 
                    <span *ngIf="rForm.get('name').errors.minlength || rForm.get('name').errors.maxlength">Name must be greater than 3 characters and less than 55 characters</span>
                </span>
            </div>
            <div>

                <label for="university">Description:</label>
                <input type="text" placeholder="Description" name="description" formControlName="description" class="form-control mb-4">                
            </div>            
            <div>

                <label for="language">Language:</label>
                <select formControlName="language" class="form-control mb-4" placeholder="Language">
                    <option [ngValue]="null">Select language...</option>                
                    <option *ngFor="let language of eActivityLenguages | keyvalue" [ngValue]="language.value">{{language.value}}</option>              
                </select>
                <span style="color: red;" *ngIf="rForm.get('language').errors && (rForm.get('language').touched || rForm.get('language').dirty)">                
                    <span *ngIf="rForm.get('language').errors.required">Language is required</span>
                </span>
            </div>
            <div>

                <label for="date">Date:</label>
                <input type="text" placeholder="dd/MM/yyyy" name="date" formControlName="date" class="form-control mb-4">
                <span style="color: red;" *ngIf="rForm.get('date').errors && (rForm.get('date').touched || rForm.get('date').dirty)">                
                    <span *ngIf="rForm.get('date').errors?.errorFormatDate">Invalid format date</span>
                </span>
            </div>
            <div>

                <label price="name">Price:</label>
                <input type="number" placeholder="Price" name="price" formControlName="price" class="form-control mb-4">
                <span style="color: red;" *ngIf="rForm.get('price').errors && (rForm.get('price').touched || rForm.get('price').dirty)">                
                    <span *ngIf="rForm.get('price').errors.required">Price is required</span>   
                    <span *ngIf="rForm.get('price').errors?.errorLessZero">Price must be greater than zero</span>                  
                </span>
            </div>
            <div>

                <label price="minimumCapacity">Minium Capacity:</label>
                <input type="number" placeholder="Minium Capacity" name="minimumCapacity" formControlName="minimumCapacity" class="form-control mb-4">
                <span style="color: red;" *ngIf="rForm.get('minimumCapacity').errors && (rForm.get('minimumCapacity').touched || rForm.get('minimumCapacity').dirty)">                
                    <span *ngIf="rForm.get('minimumCapacity').errors.required">Minium Capacity is required</span>                     
                    <span *ngIf="rForm.get('minimumCapacity').errors?.errorLessZero">Minium Capacity must be greater than zero</span>
                </span>
            </div>
            <div>

                <label price="limitCapacity">Limit Capacity:</label>
                <input type="number" placeholder="Limit Capacity" name="limitCapacity" formControlName="limitCapacity" class="form-control mb-4">
                <span style="color: red;" *ngIf="rForm.get('limitCapacity').errors && (rForm.get('limitCapacity').touched || rForm.get('limitCapacity').dirty)">                
                    <span *ngIf="rForm.get('limitCapacity').errors.required">Limit Capacity is required</span>                     
                    <span *ngIf="rForm.get('limitCapacity').errors?.errorLessZero">Limit Capacity must be greater than zero</span>
                </span>
            </div>
            <div>

                <label for="state">State:</label>
                <select formControlName="state" class="form-control mb-4" placeholder="State">
                    <option [ngValue]="null">Select state...</option>                
                    <option *ngFor="let state of eActivityStates | keyvalue" [ngValue]="state.value">{{state.value}}</option>              
                </select>
                <span style="color: red;" *ngIf="rForm.get('state').errors && (rForm.get('state').touched || rForm.get('state').dirty)">                
                    <span *ngIf="rForm.get('state').errors.required">State is required</span>
                </span>
            </div>            
            <button class="btn btn-primary my-4 float-left" type="submit" [disabled]="rForm.invalid">Save</button>
        </div>

    </form>
</div> -->

<div class="container-uoc">
  <h1>ACTIVITY</h1>
  <form [formGroup]="rForm" (ngSubmit)="submit()">
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Select a category...</mat-label>
        <mat-select formControlName="category">
          <mat-option
            *ngFor="let category of eActivityCategories | keyvalue"
            [value]="category.value"
            >{{ category.value }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="rForm.get('category').errors?.required"
          >You must select a category
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Select a subcategory...</mat-label>
        <mat-select formControlName="subcategory">
          <mat-option
            *ngFor="let subcategory of eSubcategory | keyvalue"
            [value]="subcategory.value"
            >{{ subcategory.value }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="rForm.get('subcategory').errors?.required"
          >You must select a subcategory
        </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" required />

        <mat-error *ngIf="rForm.get('name').errors?.required"
          >Name is <strong>required</strong>
        </mat-error>
        <mat-error
          *ngIf="
            rForm.get('name').errors?.minlength ||
            rForm.get('name').errors?.maxlength
          "
          >Name must be greater than 3 characters and less than 55
        </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput type="text" formControlName="description" required />
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Select a language...</mat-label>
        <mat-select formControlName="language">
          <mat-option
            *ngFor="let language of eActivityLenguages | keyvalue"
            [value]="language.value"
            >{{ language.value }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="rForm.get('language').errors?.required"
          >You must select a language
        </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input
          matInput
          type="text"
          formControlName="date"
          placeholder="User date"
        />
        <mat-error *ngIf="rForm.get('date').errors?.errorFormatDate"
          >Invalid format date
        </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput type="text" formControlName="price" required />
      </mat-form-field>
      <mat-error *ngIf="rForm.get('price').errors?.required"
        >Price is required
      </mat-error>
      <mat-error *ngIf="rForm.get('price').errors?.errorLessZero"
        >Price must be greater than zero</mat-error
      >
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input
          matInput
          type="text"
          formControlName="minimumCapacity"
          required
        />
      </mat-form-field>
      <mat-error *ngIf="rForm.get('minimumCapacity').errors?.required"
        >Minimum capacity is required
      </mat-error>
      <mat-error *ngIf="rForm.get('minimumCapacity').errors?.errorLessZero"
        >Minimum capacity must be greater than zero</mat-error
      >
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput type="text" formControlName="limitCapacity" required />
      </mat-form-field>
      <mat-error *ngIf="rForm.get('limitCapacity').errors?.required"
        >Limit capacity is required
      </mat-error>
      <mat-error *ngIf="rForm.get('limitCapacity').errors?.errorLessZero"
        >Limit capacity must be greater than zero</mat-error
      >
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Select a state...</mat-label>
        <mat-select formControlName="category">
          <mat-option
            *ngFor="let state of eActivityStates | keyvalue"
            [value]="state.value"
            >{{ state.value }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="rForm.get('state').errors?.required"
          >You must select a state
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="!rForm.valid"
      >
        SAVE
      </button>
    </section>
  </form>
</div>
